# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Android (gerado pelo flutter create/build)
android/local.properties
android/app/src/main/java/io/flutter/plugins/
android/.gradle/
android/gradle/
android/gradlew
android/gradlew.bat
**/*.iml

# IDE
.idea/
.vscode/
